version: '3.8'

services:
  builder:
    build: .
    volumes:
      - type: bind
        source: ./bin
        target: /go/src/interface-realize/bin
    working_dir: /go/src/interface-realize
    command: make build
